<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>My Baking Info</title>
</head>
<body>
    
    <div align="center">
        <h1>Baking Stuff</h1>
        <table>
            <thead>
                <tr>
                    <th>Bake Title</th>
                    <th>Baker's First Name</th>
                    <th>Baker's Last Name</th>
                    <th>Bake Description</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="bake : ${listInfo}">
                    <td th:text="${bake.title}"></td>
                    <td th:text="${bake.firstName}"></td>
                    <td th:text="${bake.lastName}"></td>
                    <td th:text="${bake.description}"></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>